.navbar-style {
  background-color: saddlebrown;
}
.site-footer {
  background-image: linear-gradient(gray, white);
  padding: 20px 0;
}
.row-content {
  padding: 40px;
}
.body-content {
  padding-left: 50px;
  padding-right: 50px;
}
#map {
  height: 300px;
  width: 300px;
}
.nav-link:hover {
  text-decoration: underline;
}
.quote-generator:hover {
  color: white;
  transition: 0.5s;
}
